@page "/TransactionType"

@using Radzen
@using Radzen.Blazor

@inject ITransactionTypeService typeService

<h1>Transaction Types</h1>
<hr />


@if (typeObj is null)
{
    <div class="container-fluid">
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
}
else
{
    <RadzenGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="10"
                AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                Data="@typeObj" TItem="TransactionType" ColumnWidth="150px" LogicalFilterOperator="LogicalFilterOperator.Or">

        <Columns>
            <RadzenGridColumn TItem="TransactionType" Property="TransactionTypeId" Title="Id"> </RadzenGridColumn>
            <RadzenGridColumn TItem="TransactionType" Property="TransactionTypeName" Title="Transaction Type"> </RadzenGridColumn>
        </Columns>
    </RadzenGrid>
}

@code
{
    List<TransactionType> typeObj;

    protected override async Task OnInitializedAsync()
    {
        typeObj = await Task.Run(() => typeService.GetAllTransactionTypesAsync());
    }
}
